/* @import url("http//fonts.googleapis.com/css") */
body, h2, p{
    margin: 0;
    padding: 0;
}
.body{
    background-color:hsl(257, 40%, 49%);
    padding:3em;
    background-image:url("bg-desktop.svg");
    background-color:hsl(300,69%,71%);
    background-repeat:no-repeat;
    background-size:cover;

}
.wrap-cont{
  margin:auto 77px;
}
.nav{
margin:33px 0;
}
.nav-logo{
    display:flex;
    justify-content:start;
}
.nav-logo img{
    width:210px;
}
.grid-content{
    display:grid;
    grid-auto-columns: 2fr 45%;
    margin-top:54px;
}
.grid-cont .img.cont{
    width:100%;

}
.grid-cont .img-cont img{
    width:99%;
}
/* second container */








.footer div{
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    height:32px;
    width:32px;
    border-radius: 35px;
    border:white solid 2px;
    margin-left:8px;
}